@model CardGame.DAL.Model.tblperson

@{
    ViewBag.Title = "EditPassword";
}

<h2>EditPassword</h2>

<div class="jumbotron" style="margin-bottom:200px">
    <h2>Change Password</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idperson)

            <div class="form-group">
                @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.Label("new Password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change Password" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div style="margin-top:50px">
        @*@Html.ActionLink("Back", "Index")*@
        <h4>
            <span class="borderbutton" style="text-align:left">@Html.ActionLink("Back","Index")</span>
        </h4>
    </div>

</div>