@model CardGame.Web.Models.PackList
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="margin-bottom:180px">

    @Html.AntiForgeryToken()

    <h1>Cardshop</h1>

    <h2 style="color: red">
        @if (TempData["orderAbort"] != null)
        { @TempData["orderAbort"];
        }
    </h2>
    <h2 style="color: green">
        @if (TempData["orderComplete"] != null)
        { @TempData["orderComplete"];
        }
    </h2>

    <!--CARDPACKS-->
    <div class="container">
        <h4 class="headline-corr">Cardpacks</h4>
        @for (int i = 0; i < Model.CardPack.Count; i++)
        {
            using (Html.BeginForm())
            {
                <div class="row col-md-4 col-sm-6 col-xs-12 pack-container">

                    <div class="col-md-8 vcenter pack-style">
                        <div class="container pack-style-container">
                            <div class="row"> @Model.CardPack.ToList()[i].Packname </div>
                            <div class="row"> you get @Model.CardPack.ToList()[i].Cardquantity cards</div>
                            <div class="row pack-row-price"> @Model.CardPack.ToList()[i].Packprice <span>Gold</span> </div>

                            <div class="row">
                                <!--Hidden Field zur Übergabe der PackID + Preis -->
                                <input type="hidden" name="IdPack" value="@Model.CardPack.ToList()[i].IdPack" />
                                <input type="hidden" name="Packprice" value="@Model.CardPack.ToList()[i].Packprice" />
                                <input type="submit" value="Buy" style="padding-top:10px; width:160px; color:black; font-weight:bold" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="position:relative">
                        <img src=@Model.CardPack.ToList()[i].Url style="max-height:200px; min-height:150px; min-width:150px" class="img-responsive" />
                    </div>
                </div>
            }
        }
    </div>

    <!--GOLDPACKS-->
    <div class="container">
        <h4 class="headline-corr">Goldpacks</h4>
        @for (int i = 0; i < Model.GoldPack.Count; i++)
        {
            using (Html.BeginForm())
            {
                <div class="row col-md-4 col-sm-6 col-xs-12 pack-container">
                    <div class="col-md-8 vcenter pack-style">
                        <div class="container pack-style-container">
                            <div class="row"> @Model.GoldPack.ToList()[i].Packname </div>
                            <div class="row"> you get @Model.GoldPack.ToList()[i].Goldquantity gold</div>
                            <div class="row pack-row-price"> @Model.GoldPack.ToList()[i].Packprice <span>€</span> </div>

                            <div class="row">
                                <!--Hidden Field zur Übergabe der PackID + Preis -->
                                <input type="hidden" name="IdPack" value="@Model.GoldPack.ToList()[i].IdPack" />
                                <input type="hidden" name="Packprice" value="@Model.GoldPack.ToList()[i].Packprice" />
                                <input type="button" value="Buy" style="padding-top:10px; width:160px; color:black; font-weight:bold" data-toggle="modal" data-target="#myModal" />

                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content" style="background-image: url('../../img/paper_background.png')">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Buy Gold via Credit Card</h4>
                                            </div>
                                            <div class="modal-body" >
                                                <p>please insert your data, data will be send via https!</p>
                                                @using (Html.BeginForm())
                                                {
                                                    <div class="form-horizontal">

                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Firstname</label>
                                                            <div class="col-md-8">
                                                                <input type="text" name="Firstname" class="form-control" pattern="[A-Za-z].{1,}" required 
                                                                       title="Only upper and lower case allowed" style="font-family:Arial" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Lastname</label>
                                                            <div class="col-md-8">
                                                                <input type="text" name="Lastname" value="" class="form-control" pattern="[A-Za-z].{1,}" required 
                                                                       title="Only upper and lower case allowed" style="font-family:Arial" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Creditcardnumber</label>
                                                            <div class="col-md-8">
                                                                <input type="text" name="creditCardNumber" value="" class="form-control" pattern="[0-9].{12,20}" required 
                                                                       title="The number must be between 13 and 19 digits long!" style="font-family:Arial" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Expire Year/Month</label>
                                                            <div class="col-md-4">
                                                                <input type="number" name="doeYear" value="" placeholder="YYYY" class="form-control" pattern="[0-9].{3,5}" required min="2017" max="2027" 
                                                                       title="Year has to be between 2017 and 2027!" style="font-family:Arial" />
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input type="number" name="doeMonth" value="" placeholder="MM" class="form-control" pattern="[0-9].{1,3}" required min="1" max="12" 
                                                                       title="Month has to be between 01 and 12!" style="font-family:Arial" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">CVR</label>
                                                            <div class="col-md-8">
                                                                <input type="number" name="CVR" value="" class="form-control" pattern="[0-9].{2,4}" required min="100" max="999"
                                                                       title="The Number must be between 100 and 999!" style="font-family:Arial"/>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <input type="submit" name="cgc" value="Complete Gold Charge" style="color:black; padding:10px 5px 0px 5px"  />
                                                    

                                                }

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src=@Model.GoldPack.ToList()[i].Url style="max-height:200px; min-height:150px; min-width:150px" class="img-responsive" />
                    </div>
                </div>
            }
        }
    </div>

    <div style="margin-top:50px">
        <h4><span class="borderbutton">@Html.ActionLink("Home", "Index", "Home")</span></h4>
    </div>

    

</div>

<!-- Modal -->
@*<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">*@

        <!-- Modal content-->
        @*<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buy Gold via Credit Card</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-md-4">Firstname</label>
                            <div class="col-md-8">
                                <input type="text" name="Firstname" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Lastname</label>
                            <div class="col-md-8">
                                <input type="text" name="Lastname" value="" />
                            </div>
                        </div>  
                    
                        <div class="form-group">
                            <label class="control-label col-md-4">Creditcardnumber</label>
                            <div class="col-md-8">
                                <input type="text" name="CreditCardNumber" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Date of Expire</label>
                            <div class="col-md-8">
                                <input type="text" name="DateOfExpire" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">CVR</label>
                            <div class="col-md-8">
                                <input type="text" name="CVR" value="" />
                            </div>
                        </div>
                    
                    </div>

                    <input type="submit" name="cgc" value="Complete Gold Charge" />

                }

                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>*@