@model IEnumerable<CardGame.Web.Models.Pack>
@{
    ViewBag.Title = "Index";
}

<!-- #region Shop ALT -->
@*<div class="jumbotron" style="margin-bottom:200px;padding-left:10px;padding-right:10px; min-height:600px">

    <h1>Cardshop</h1>
    @for (int i = 0; i < 6; i++)
    {

        <div class="row col-md-4 col-sm-6 col-xs-12" style="margin-top:37px">

            <div class="col-md-8 vcenter" style="margin-top:26px">
                <div class="container" style="font-size:16px; margin-left:50px">
                    <div class="row">
                        @Model.ToList()[i].Packname
                    </div>
                    <div class="row" style="font-size:24px; margin-top:10px" >
                        @Model.ToList()[i].Packprice 
                        @if (Model.ToList()[i].Cardquantity == 0)
                        { <span>€</span> }
                        else
                        { <span>Gold</span> }
                        
                    </div>
                    <div class="row">
                        <input type="submit" value="Buy" />
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="position:relative">
                <img src=@Model.ToList()[i].Url style="max-height:200px; min-height:150px; min-width:150px" class="img-responsive" />
            </div>

        </div>
       }

    <div>
        <h4 style="text-align:left;margin-top:400px">@Html.ActionLink("Home", "Index", "Home")</h4>
    </div>
</div>*@
<!-- #endregion -->

<div class="jumbotron" style="margin-bottom:200px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h1>Cardshop</h1>

        for (int i = 0; i < 6; i++)
        {
            <div class="row col-md-4 col-sm-6 col-xs-12" style="margin-top:37px">

                <div class="col-md-8 vcenter" style="margin-top:26px">
                    <div class="container" style="font-size:16px; margin-left:50px">
                        <div class="row">
                            @Model.ToList()[i].Packname
                        </div>
                        <div class="row" style="font-size:24px; margin-top:10px">
                            @Model.ToList()[i].Packprice
                            @if (Model.ToList()[i].Cardquantity == 0)
                            { <span>€</span> }
                            else
                            { <span>Gold</span> }

                        </div>
                        <div class="row">
                            <input type="submit" value="Buy" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="position:relative">
                    <img src=@Model.ToList()[i].Url style="max-height:200px; min-height:150px; min-width:150px" class="img-responsive" />
                </div>
            </div>
        }
        <div>
            <h4 style="text-align:left;margin-top:400px">@Html.ActionLink("Home", "Index", "Home")</h4>
        </div>

    }
</div>




    <!-- #region Shop hardcoded -->
    @*<div class="jumbotron" style="margin-bottom:200px">
            <h1>Cardshop</h1>
                <div class="row" style="margin-bottom:50px; padding-bottom:50px">
                    <div class="col-md-4 img-responsive" style="margin-bottom:20px">
                        <img src="~/img/cp_small.png" style="max-height:150px" />
                        <br /> Cardpack SMALL, <br /> Price : 50 Gold <br />
                        <input type="button" value="Buy" />
                    </div>
                    <div class="col-md-4 img-responsive" style="margin-bottom:20px">
                        <img src="~/img/cp_medium.png" style="max-height:150px" />
                        <br />Cardpack MEDIUM,<br /> Price : 100 Gold<br />
                        <input type="button" value="Buy" />
                    </div>
                    <div class="col-md-4 img-responsive" style="margin-bottom:20px">
                        <img src="~/img/cp_large.png" style="max-height:150px" />
                        <br />Cardpack LARGE, <br />Price : 150 Gold<br />
                        <input type="button" value="Buy" />
                    </div>
            </div>
        </div>*@
    <!-- #endregion -->

