@model CardGame.Web.Models.PackList
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="margin-bottom:180px">
   
        @Html.AntiForgeryToken()

        <h1>Cardshop</h1>

        <h2 style="color: red"> @if (TempData["orderAbort"] != null) { @TempData["orderAbort"]; } </h2>
        <h2 style="color: green"> @if (TempData["orderComplete"] != null) { @TempData["orderComplete"]; } </h2>

    <!--CARDPACKS-->
    <div class="container">
        <h4 class="headline-corr">Cardpacks</h4>
        @for (int i = 0; i < Model.CardPack.Count; i++)
        {
            using (Html.BeginForm())
            {
                <div class="row col-md-4 col-sm-6 col-xs-12 pack-container">

                    <div class="col-md-8 vcenter pack-style">
                        <div class="container pack-style-container">
                            <div class="row"> @Model.CardPack.ToList()[i].Packname </div>
                            <div class="row"> you get @Model.CardPack.ToList()[i].Cardquantity cards</div>
                            <div class="row pack-row-price"> @Model.CardPack.ToList()[i].Packprice <span>Gold</span> </div>

                            <div class="row">
                                <!--Hidden Field zur Übergabe der PackID + Preis -->
                                <input type="hidden" name="IdPack" value="@Model.CardPack.ToList()[i].IdPack" />
                                <input type="hidden" name="Packprice" value="@Model.CardPack.ToList()[i].Packprice" />
                                <input type="submit" value="Buy" style="padding-top:10px; width:160px; color:black; font-weight:bold" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="position:relative">
                        <img src=@Model.CardPack.ToList()[i].Url style="max-height:200px; min-height:150px; min-width:150px" class="img-responsive" />
                    </div>
                </div>
            }
        }
    </div>

    <!--GOLDPACKS-->
    <div class="container">
        <h4 class="headline-corr">Goldpacks</h4>
        @for (int i = 0; i < Model.GoldPack.Count; i++)
        {
            using (Html.BeginForm())
            {
                <div class="row col-md-4 col-sm-6 col-xs-12 pack-container">
                    <div class="col-md-8 vcenter pack-style">
                        <div class="container pack-style-container">
                            <div class="row"> @Model.GoldPack.ToList()[i].Packname </div>
                            <div class="row"> you get @Model.GoldPack.ToList()[i].Goldquantity gold</div>
                            <div class="row pack-row-price"> @Model.GoldPack.ToList()[i].Packprice <span>€</span> </div>

                            <div class="row">
                                <!--Hidden Field zur Übergabe der PackID + Preis -->
                                <input type="hidden" name="IdPack" value="@Model.GoldPack.ToList()[i].IdPack" />
                                <input type="hidden" name="Packprice" value="@Model.GoldPack.ToList()[i].Packprice" />
                                <input type="submit" value="Buy" style="padding-top:10px; width:160px; color:black; font-weight:bold" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src=@Model.GoldPack.ToList()[i].Url style="max-height:200px; min-height:150px; min-width:150px" class="img-responsive" />
                    </div>
                </div>
            }
        }
    </div>

        <div style="margin-top:50px">
            <h4><span class="borderbutton" >@Html.ActionLink("Home", "Index", "Home")</span></h4>
        </div>
</div>


