@model CardGame.Web.Models.CardCollections
@{
    ViewBag.Title = "Deckbuilder";
}
<div class="jumbotron" style="margin-right:10px; margin-left:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    
    <h4>Card Collection</h4>
    
    <h5 style="color: red">
        @if (TempData["notEnoughCards"] != null)
        {
            @TempData["notEnoughCards"];
        }
    </h5>

    <div style="height:350px; overflow-y: scroll;overflow-x:hidden; border:2px solid black; padding-right:30px; padding-left:35px">
        <div class="row" style="margin-top:37px; padding-bottom:40px">

            @foreach (var item in Model.coll)
            {
                using (Html.BeginForm("AddCardToDeck", "Deck", FormMethod.Post))
                {
                    <div class="col-md-2" style="margin-top:16px">
                        <div class="container" style="font-size:12px; text-align:center">

                            <div class="row" style="margin-left:-20px;margin-right:-20px;margin-bottom:10px">
                                count: @Html.DisplayFor(c => item.Number)

                                @{
                                    var base64 = Convert.ToBase64String(item.pic);
                                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                }
                                <img class="galleryImg img-responsive" src="@imgSrc" />
                                <input type="hidden" name="idcard" value="@item.IdCard" />
                                <input type="submit" name="addCard" value="Add" />
                            </div>
                        </div>
                    </div>
                 }       
             }

        </div>
    </div>
</div>

@*@Html.Action("_Deckcollection")*@

<div class="jumbotron" style="margin-right:10px; margin-left:20px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; margin-top:5px !important; margin-bottom:200px">
    @using (Html.BeginForm("SaveDeckToDb", "Deck"))
    {
        <h4>@Model.DeckName<span style="margin-left:300px">@ViewBag.Deckcount / 30 max Cards</span> @*<button style="float:right; height:30px;margin-top: -10px;padding: 8px;color: black;">Save Deck</button>*@  </h4>
        <input type="submit" name="saveToDb" value="Save Deck" />
    }


    <div style="height:350px; overflow-y: scroll;overflow-x:hidden; border:2px solid black; padding-right:30px; padding-left:35px">
        <div class="row" style="margin-top:37px; padding-bottom:40px">

            @foreach (var item in Model.deck)
            {
                using (Html.BeginForm("RemoveCardFromDeck", "Deck", FormMethod.Post))
                {
                    <div class="col-md-2 vcenter" style="margin-top:16px; float:left">
                        <div class="container" style="font-size:12px; text-align:center">

                            <div class="row" style="margin-left:-20px;margin-right:-20px;margin-bottom:10px">
                                @*count: @Html.DisplayFor(c => item.Number)*@
                                @{
                                    var base64 = Convert.ToBase64String(item.pic);
                                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                }
                                <img class="galleryImg img-responsive" src="@imgSrc" />
                                <input type="hidden" name="idcard" value="@item.IdCard" />
                                <input type="submit" name="removeCard" value="Remove" />
                            </div>
                        </div>
                    </div>
                 }
             }
        </div>
    </div>
</div>




