@model CardGame.Web.Models.CardCollections
@{
    ViewBag.Title = "Deckbuilder";
}


@*<div class="jumbotron">
        <input type="text" placeholder="search/filter" id="searchInput" onkeyup="search()" />
        <div id="searchList" class="container" style="border:2px solid white; height:600px; overflow-y: scroll;overflow-x:hidden; text-align:center">
            @foreach (var item in Model.coll)
            {
                using (Html.BeginForm("AddCardToDeck", "Deck", FormMethod.Post))
                {
                    <div class="col-md-3">
                        @{
                            var base64 = Convert.ToBase64String(item.pic);
                            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                        }
                        <img src="@imgSrc" class="img-responsive galleryImg" style="height:150px;" />
                        <input type="hidden" name="idcard" value="@item.IdCard" />
                        <input type="submit" name="addCard" value="Add" style="color:black" />
                        <a href="#"><input type="hidden" value="@item.Cardname" /></a>
                    </div>
                                }
                            }
        </div>
    </div>*@

<div class="jumbotron" style="margin-top:80px !important; margin-bottom:0px; width:1500px; margin-left:-200px">
    <h3 style="font-size:32px">Deckbuilder <span class="borderbutton" style="float:right; margin-top:-20px; font-size:12px">@Html.ActionLink("Back", "Index", "User")</span> </h3>
    <div class="row">

        <div class="col-md-6">
            <h4>Card Collection 
                <span style="float:right; margin-top:-12px; color:black; padding-top:0px">
                    <input type="text" placeholder="search/filter" id="searchInput" onkeyup="search()" style="font-family:Arial; height:35px; margin-bottom:5px" />
                </span>
            </h4>


            <h5 style="color: red">
                @if (TempData["notEnoughCards"] != null)
                {
                    @TempData["notEnoughCards"];
                }
            </h5>
            <div id="searchList" class="container" style="border:2px solid white; height:600px; overflow-y: scroll;overflow-x:hidden; text-align:center">
                @foreach (var item in Model.coll)
                {
                    using (Html.BeginForm("AddCardToDeck", "Deck", FormMethod.Post))
                    {
                        <div class="col-md-3" style="margin-top:16px;margin-bottom:15px;">
                            count: @Html.DisplayFor(c => item.Number)
                            @{
                                var base64t = Convert.ToBase64String(item.pic);
                                var imgSrct = String.Format("data:image/png;base64,{0}", base64t);
                            }
                            <img src="@imgSrct" class="img-responsive galleryImg" style="height:150px;" />
                            <input type="hidden" name="idcard" value="@item.IdCard" />
                            <input type="submit" name="addCard" value="Add" style="color:black" />
                            <a href="#"><input type="hidden" value="@item.Cardname" /></a>
                        </div>
                                    }
                                }
            </div>
        </div>

        <!--Rechts / Deck-->
        <div class="col-md-6">
            @using (Html.BeginForm("SaveDeckToDb", "Deck"))
            {
                <h4>@Model.DeckName<span style="margin-left:150px">@ViewBag.Deckcount / 30 max Cards</span><input style="float:right; margin-top:-12px; color:black; padding-top:10px" type="submit" name="saveToDb" value="Save Deck" /> </h4>
            }
            <div class="container" style="border:2px solid white; height:600px; overflow-y: scroll;overflow-x:hidden; text-align:center">
                @foreach (var item in Model.deck)
                {
                    using (Html.BeginForm("RemoveCardFromDeck", "Deck", FormMethod.Post))
                    {
                        <div class="col-md-3">
                            @{
                                var base64t = Convert.ToBase64String(item.pic);
                                var imgSrct = String.Format("data:image/png;base64,{0}", base64t);
                            }
                            <img src="@imgSrct" class="img-responsive galleryImg" style="height:150px;" />
                            <input type="hidden" name="idcard" value="@item.IdCard" />
                            <input type="submit" name="removeCard" value="Remove" style="color:black" />
                        </div>
                                    }
                                }
            </div>
        </div>
    </div>
</div>

































<script>
    function search() {
        var input, filter, ul, li, a, i;
        input = document.getElementById('searchInput');
        filter = input.value.toLocaleUpperCase();
        ul = document.getElementById('searchList');
        li = li = ul.getElementsByTagName('div');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) >= 0) {
                li[i].style.display = "";
            }
            else {
                li[i].style.display = "none";
            }
        }
    }

</script>


