@model IEnumerable<CardGame.Web.Models.Deck>
@{
    ViewBag.Title = "Decks";
}

<div class="jumbotron" style="margin-bottom:200px; padding-right:0px">

    @Html.AntiForgeryToken()
    <h1>Decks</h1>

    @for (int i = 0; i < 3; i++)
    {
        using (Html.BeginForm())
        {
            <div class="row col-md-4 col-sm-6 col-xs-12" style="margin-left:15px" >

                <div class="col-md-8" style="margin-top:26px; text-align:center; margin-left: -5px">
                    <div class="container" style="font-size:16px">
                        <div class="row" style="margin-top:-10px; margin-bottom:-20px; font-size:24px">
                            @Model.ToList()[i].Deckname
                        </div>
                        <div class="col-md-4" style="position:relative">
                            <img src="~/img/cp_small.png" style="max-height:400px; min-height:250px; min-width:300px; margin-left:-85px" class="img-responsive" />
                        </div>
                        <div class="row">
                            <!--Hidden Field zur Übergabe der DeckID + UserID -->
                            <input type="hidden" name="IdDeck" value="@Model.ToList()[i].IdDeck" />
                            <input type="hidden" name="IdUser" value="@Model.ToList()[i].IdUser" />
                            @Html.ActionLink("Deckbuilder", "Deckbuilder", new { ALUserID = Model.ToList()[i].IdUser, ALDeckID = Model.ToList()[i].IdDeck, ALDeckname = Model.ToList()[i].Deckname },null);
                        </div>
                    </div>
                </div>
                
            </div>
        }
    }
    <div>
        <h4 style="text-align:left;margin-top:420px">@Html.ActionLink("Home", "Index", "Home")</h4>
    </div>
</div>