@{
    ViewBag.Title = "Home Page";
}

<h2>Clonestone</h2>

<div>
    <img id="logo" class="img-responsive" src="~/img/CS_Logo.png" />
</div>

<!-- TODO - BANNER WERBUNG -->
<!-- #region Banner Werbung -->
    <div class="container" style="width:700px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:230px">
                @if (User.Identity.Name == "")
                {
                    <div class="item active"><a href='@Url.Action("Login", "Account")'><img src='@Url.Content("~/img/Slider1.png")' alt="Slide1" style="width:100%"/></a></div>
                    <div class="item"><a href='@Url.Action("Login", "Account")'><img src='@Url.Content("~/img/Slider2.png")' alt="Slide2" style="width:100%"/></a></div>
                    <div class="item"><a href='@Url.Action("Register", "Account")'><img src='@Url.Content("~/img/Slider3.png")' alt="Slide3" style="width:100%"/></a></div>
                }

                @if (User.IsInRole("user"))
                {
                    <div class="item active"><a href='@Url.Action("Index", "Shop")'><img src='@Url.Content("~/img/Slider1.png")' alt="Slide1" style="width:100%" /></a></div>
                    <div class="item"><a href='@Url.Action("Index", "User")'><img src='@Url.Content("~/img/Slider2.png")' alt="Slide2" style="width:100%" /></a></div>
                    <div class="item"><a href='@Url.Action("Index", "User")'><img src='@Url.Content("~/img/Slider3.png")' alt="Slide3" style="width:100%" /></a></div>
                }
            </div>
        </div>
    </div>
<!-- #endregion -->
