@model IEnumerable<CardGame.DAL.Model.tblperson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="jumbotron" style="margin-bottom:200px">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gamertag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isactive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userrole)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gamertag)
                </td>
                <td style="color:black">
                    @Html.DisplayFor(modelItem => item.isactive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userrole)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idperson }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idperson })
                </td>
            </tr>
        }

    </table>

    <div style="margin-top:50px">
        <h4><span class="borderbutton">@Html.ActionLink("Home", "Index", "Home")</span></h4>
    </div>

</div>